<div class="jumbotron">
    <h1 class="display-4">CinéDit</h1>
    <p class="lead">Realisation d'une application sur le CRUD</p>
    <hr class="my-4">
    <p>Liste des films MARVEL </p>
    <p class="lead">
     
    </p>

    <form method="GET">
      <i class="fas fa-search" aria-hidden="true"></i>
      <input class="form-control form-control-sm ml-1 col-md-2 w-100" name="q" type="text" placeholder="rechercher"
        aria-label="Search">
        <input type="submit" class="btn-primary" value="valide">
    </form>
  </div>