<div  class=" col-sm-2">
    <form action="" method="GET">
<ul class="shadow p-3 mb-3 bg-white rounded rounded  list-group list-group-flush w-100">

   
    <a href="index.php?accueil"><li  class="list-group-item">accueil</li> </a>
    <a href="index.php?addmovie"><li  class="list-group-item">ajouter film</li> </a>
    <a href="index.php?list"><li  name='liste' class="list-group-item">liste film</li> </a>
    <a href="index.php?addActors"><li  class="list-group-item">ajouter acteur</li> </a>
    <a href="index.php?listActors"><li  name='liste' class="list-group-item">liste acteurs</li> </a>
  
    </form>

  </ul>


</div>